
  html, body{
    margin:0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    height: 100%;
  }
  .header{
    display: flex;
    background-color: rgb(26, 138, 243); 
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    }
     @media (max-width: 768px) {
    .header{
      margin: auto;
      flex-direction: column;
      padding-left:5px;
      padding-right:5px;
    }
  }
  .header img{
    width: 150px;
  }
  @media (max-width: 768px) {
    .header img{
    max-width: 100%;
  }
  }
  .mnue {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .mnue >a {
    text-decoration: none; 
    color:white;
    padding: 5px 15px;
    border-radius: 15px;
    transition: background 2s, button 8s;
  }
 @media (max-width: 768px){
   .mnue >a {
    text-decoration: none; 
    color:white;
    padding: 3px 8px;
    padding-right: 10px;
    border-radius: 15px;
    transition: background 2s, button 8s;
  }
 }
  .mnue >a:hover{
    background-color: rgb(116, 188, 255); 
    transition: 1s;
  }
  .btn{
    padding: 5px 15px;
    border-radius: 15px;
    background-color: rgb(250, 65, 65);
    color:white;
    border: none;
  }
  .btn:hover{
    background-color: rgb(247, 111, 111);
    cursor: pointer;
      transition: 1s;
  }
  .landing-page{
    background-color: rgb(26, 138, 243);
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
    color:white;
    border-radius: 0 0 50px 50px;
  }
  .landing-page p{
   color:black;
   padding-top: 5px;
   padding-bottom: 5px;
  }
  .landing-page img{
   width: 300px;
   border-radius: 20px;
   box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  }
  @media (max-width: 768px){
    .landing-page img{
   max-width: 100%;
   border-radius: 20px;
   box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  }
  }
  .landing-page-search input{
   border-radius: 50px;
   border:none;
   outline: none;
   padding: 0px 10px;
   height: 30px;
  }
  .landing-page-search button{
    position:absolute;
    left:200px;
    height: 30px;
  }
  .landing-page-left{
    width: 500px;
  }
  .trending-container{
    padding: 25px 50px;
    margin-top: 100px;
  }
  .trending-container span{
   color:rgb(250, 65, 65);
   text-transform:uppercase;
   font-size: 15px;
  }
  .trending-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .trending-header h1{
   margin-top: 0px;
  }
  .trending-cards{
    display: flex;
    justify-content: space-between;
    gap: 17px;
  }
  .trending-cards img{
    width: 300px;
     border-radius: 20px 20px 0px 0px;
  }
  .cards{
    width: 300px;
    background-color:  rgb(223, 222, 222) ;
    border-radius: 20px;
     
  }
  .card-info {
    display: flex;
    justify-content: space-between;
    background-color: rgb(223, 222, 222);
    padding: 5px 25px;
    align-items: center;
     border-radius: 0px 0px 20px 20px;
    
  }
  .card-info img {
   width: 45px;
  }
  .mostContainer{
    background-color:  rgb(223, 222, 222); 
    border-radius: 20px;
    padding: 15px 50px;
    margin-top: 120px;
    
  } 
  .mostPlayed span{
   color:red;
   text-transform:uppercase;
  }
  .mostHeader h1{
   margin-top: 0px;
  }
  .mostHeader button{
    margin-bottom: 10px;
  }
  .mostHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mostCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .mostCards .cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .mostCards .cardImg img{
    border-radius: 20px;
  }

  .categoreisContainer{
    padding-top: 150px;
  }
  .categoreisHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .categoreisHeader span{
   color:red;
   text-transform:uppercase;
  }
  .categoreisHeader h1{
   margin-top: 0px;
  }
  .topCardsContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
  }
   .cardTopTitle{
   background-color: rgb(26, 138, 243);
   border-radius: 20px;
  }
  .cardTopTitle{
    color:white;
    text-align: center;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
    padding-bottom: 0px;
  }
  .cardTopTitle img{
    width: 180px;
    border-radius: 20px;
   display: block;
  } 
  .footer{
    background-color: rgb(26, 138, 243);
    border-radius: 50px 50px 0px 0px;;
    height: 15vh;
    color:white;
    margin-top: 90px;
    text-align: center;
    padding-top: 5px;
  }
  .footer a{
    color:white;
    text-decoration: none;
    margin: 0px 10px;
  }
